//about block
section.about
	.container
		.title.title--with-bottom-line
			h2.title.title__header About us
			.title__text We have added our major Services

		ul.about__list
			li.about__item
				.icon.icon-like
				h3.about__header Facebook Marketing
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis iure quia culpa labore eaque, molestiae animi, harum explicabo atque aspernatur cumque quo dicta aliquid quae. Inventore ullam doloremque eum.
				
			li.about__item
				.icon.icon-book
				h3.about__header Langding page Creation
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis iure quia culpa labore eaque, molestiae animi, harum explicabo atque aspernatur cumque quo dicta aliquid quae. Inventore ullam doloremque eum.
				
			li.about__item
				.icon.icon-message
				h3.about__header Ads management
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis iure quia culpa labore eaque, molestiae animi, harum explicabo atque aspernatur cumque quo dicta aliquid quae. Inventore ullam doloremque eum.
