//approach block
.section.approach
	.container
		.title.title--with-bottom-line
			h2.title__header Our Approach
			.title__text Check Our approaches step by step

		ul.approach__list
			li.approach__item
				.approach__image
					img.approach__pricture(src="../images/step-1.jpg" alt="picture")
					.approach__step step
				.approach__text
					.approach__title Step 1 : Heading Here
					.approach__description.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto eius deleniti impedit placeat, maxime cumque totam, delectus asperiores doloremque fugit unde aliquid officiis ab! Pariatur iusto, voluptatibus suscipit tempore.

			li.approach__item
				.approach__image
					img.approach__pricture(src="../images/step-2.jpg" alt="picture")
					.approach__step step
				.approach__text
					.approach__title Step 2 : Heading Here
					.approach__description.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto eius deleniti impedit placeat, maxime cumque totam, delectus asperiores doloremque fugit unde aliquid officiis ab! Pariatur iusto, voluptatibus suscipit tempore.
						 
			li.approach__item
				.approach__image
					img.approach__pricture(src="../images/step-3.jpg" alt="picture")
					.approach__step step
				.approach__text
					.approach__title Step 3 : Heading Here
					.approach__description.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto eius deleniti impedit placeat, maxime cumque totam, delectus asperiores doloremque fugit unde aliquid officiis ab! Pariatur iusto, voluptatibus suscipit tempore.
 			
			li.approach__item
				.approach__image
					img.approach__pricture(src="../images/step-4.jpg" alt="picture")
					.approach__step step
				.approach__text
					.approach__title Step 4 : Heading Here
					.approach__description.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto eius deleniti impedit placeat, maxime cumque totam, delectus asperiores doloremque fugit unde aliquid officiis ab! Pariatur iusto, voluptatibus suscipit tempore.
 			