section.form-section
	.container
		.title
			h2.title.title__header Get Your Free Facebook Analytics Now
			.title__text Enter your details below

		.btn-down: a.arrow-down: i.fa.fa-angle-down

		.form-container.is-hidden
			form(method="post" action="#").form
				button(type="button").form__close-button X
				.form__text.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, aliquam iusto perferendis sit pariatur sapiente mollitia voluptatem, atque dicta et! Quod sunt delectus, suscipit. Aspernatur enim saepe quisquam neque quidem!
				.form__fields
					input.form__input(type="text" placeholder="Your name")
					input.form__input(type="text" placeholder="Contact Number")
					input.form__input(type="text" placeholder="Contact name")

				button(type="submit").button.button--text-uppercase.button--red Submit now