.nav {
	display: inline-block;
	
	vertical-align: top;
	

	@media (max-width: 1000px) {
		margin-bottom: 25px;
	}



	&__link {
		display: inline-block;
		vertical-align: top;
		padding: 10px;
		color: #424242;
		// font-family: $ff-main-bold;
		text-decoration: none;
		text-transform: capitalize;
		transition: 0.3s;
		font-size: 0.9rem;



		&:hover,
		&--active {
			color: #de2b24;
		}

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #424242;
			margin-left: 15px;
		}


		&:last-child:after {
			display: none;
		}

		@media (max-width: 419px) {
		display: block;

		&:after {
			display: none;
		}
	}
	}
}