.button {
	display: inline-block;
	border-radius: 3px;
	padding: 10px 22px 7px;
	text-decoration: none;

	&--red {
		background-color: #de2b24;
		color: #fff;
		transition: 0.3s;

		&:hover {
			background-color: lighten(#de2b24, 7%);
		}
	}

	&--yellow {
		background-color: orange;
		color: #fff;
		transition: 0.3s;

		&:hover {
			background-color: lighten(orange, 7%);
		}
	}

	&--text-uppercase {
		text-transform: uppercase;
	}
}